.advantages {
  margin-bottom: 80px;
  &__item {
    text-align: center;
    @include r(768) {
      margin-bottom: 20px;
    }
  }
  &__icon {
    margin-bottom: 40px;
    @include r(768) {
      margin-bottom: 20px;
    }
  }
  &__caption {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 23px;
    @include r(768) {
      font-size: 16px;
    }
  }
  &__description {
    font-size: 18px;
    @include r(768) {
      font-size: 16px;
    }
  }
}
