.advantages {
  margin-bottom: 80px;
  &__item {
    text-align: center;
  }
  &__icon {
    margin-bottom: 40px;
  }
  &__caption {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 23px;
  }
  &__description {
    font-size: 18px;
  }
}
