.hero {
  margin-top: 144px;
  padding-top: 90px;
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 618px;
  @include r(768) {
    padding-top: 30px;
    background-image: url('../img/hero-bg-mobile.png');
    height: 400px;
  }
 &__title {
   margin-bottom: 20px;
 }
  &__subtitle {
    margin-bottom: 55px;
    color: #fff;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
    @include r(576) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  &__btn {
    width: 388px;
    margin: 0 auto;
    @include r(576) {
      width: 192px;
      height: 54px;
    }
  }
}

.news-slider {
  margin-bottom: 80px;
  &__title {
    @include r(1024) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  &__item {
    position: relative;
  }
  &__img {
    margin-bottom: 30px;
    border-radius: 20px;
    width: 100%;
  }
  &__caption {
    margin: 0 auto;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    @include r(768) {
      font-size: 18px;
    }
  }
}
.category-slider {
  margin-bottom: 160px;
  @include r(576) {
    margin-bottom: 60px;
  }
  .news-slider__caption {
    font-weight: 700;
    max-width: 80%;
  }
}

.about {
  margin-bottom: 120px;
  padding: 70px 0;
  background-color: #000;
  background-image: url('../img/about-bg.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 35%;
  color: #fff;
  @include r(576) {
    margin-bottom: 60px;
  }
  @include r(1024) {
    background-image: none;
    border-radius: 18px;
  }
  &__logo {
    margin-bottom: 55px;
  }
  p {
    margin-bottom: 35px;
    font-size: 20px;
    @include r(576) {
      font-size: 18px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__caption {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 33px;
    @include r(1024) {
      text-align: center;
    }
  }
  &__description {
    margin-bottom: 33px;
    color: #000;
    font-size: 23px;
    @include r(576) {
      font-size: 18px;
    }
  }
  &__brand {
    margin-bottom: 120px;
  }
  &__btn {
    width: 245px;
    @include r(1024) {
      margin: 0 auto;
    }
  }
  &__brand-img {
    @include r(1024) {
      display: block;
      margin: 0 auto 40px;
    }
  }
  &__img {

    max-width: 80%;
    margin-left: -15px;
  }
}

.service {
  margin-bottom: 120px;
  @include r(576) {
    margin-bottom: 60px;
  }
  &__caption {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    @include r(768) {
      text-align: center;
      font-size: 22px;
    }
  }
  &__description {
    font-size: 26px;
    font-weight: 300;
    @include r(576) {
      font-size: 18px;
      padding: 0 15px;
    }
  }
  &__img {
    margin-bottom: 120px;
    @include r(1024) {
      margin-bottom: 60px;
    }
    @include r(768) {
      width: 100%;
    }
  }
  &__item {
    margin-bottom: 120px;
    padding-left: 65px;
    @include r(1024) {
      margin-bottom: 60px;
    }
    @include r(768) {
      padding-left: 15px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 17px;
      top: 0;
      width: 17px;
      height: 100%;
      background-color: $orange;
      @include r(768) {
        content: none;
      }
    }
  }
}

.main-search {
  margin-top: -100px;
  margin-bottom: 100px;
  @include r(768) {
    margin-top: -20px;
  }
}


// catalog
.catalog {
  margin-top: 90px;
  margin-bottom: 140px;
  &__row {
  gap: 70px 0;
  }
  &__img {
    width: 100%;
    margin-bottom: 20px;
  }
  &__caption {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    @include r(576) {
      font-size: 16px;
    }
  }
}

//category
.category {
  margin-top: 90px;
  &__wrapper {
    margin-bottom: 45px;
  }
  &__img {
    width: 100%;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    @include r(768) {
      margin-top: 70px;
      font-size: 18px;
      padding: 0 15px;
    }
  }
  &__text {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    &:last-child {
      margin-bottom: 0;
    }
    @include r(576) {
      padding: 0 15px;
      font-size: 16px;
    }
  }
}
.product-list {
  margin: 60px 0;
  &__heading {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 25px;
    margin-bottom: 25px;
    @include r(1024) {
      display: none;
    }
  }
  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    @include r(1024) {
      font-size: 16px;
    }
  }
  &__wrapper {
    gap: 30px 0;
    @include r(1024) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px 0;
    }
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 25px;
    align-items: center;
    margin-bottom: 30px;
    @include r(1024) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 0 0 30%;
      padding: 8px;
      margin-bottom: 0;
      border: 1px solid #f5f5f5;
    }
    @include r(768) {
      flex: 0 0 48%;
    }
    @include r(480) {
      flex: 0 0 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    @include r(1024) {
      margin: 0 auto;
    }
  }
  &__properties {
    text-align: center;
    font-weight: 500;
    @include r(1024) {
      text-align: left;
    }
    &::before {
      margin-right: 10px;
      content: attr(data-label) ":";
      font-weight: 700;
      @include rmin(1024) {
        content: none;
      }
    }
  }
  &__how {
    span {
      font-size: 18px;
      font-weight: 500;
      @include r(480) {
        font-size: 16px;
      }
    }
    select {
      margin: 0 8px;
      padding: 0 40px 0 13px;
      font-size: 18px;
      font-weight: 500;
      border: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1110_62)'%3E%3Cpath d='M0.660034 0.660156L10.89 10.8902L21.27 1.00016' stroke='%23231F20' stroke-width='1.86' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1110_62'%3E%3Crect width='21.92' height='12.19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"), linear-gradient(to bottom, #f5f5f5 0%,#f5f5f5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
      background-color: #f5f5f5;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      height: 30px;
      &::-ms-expand { display: none; }
      &:focus,
      &:active {
        outline: 1px solid $orange;
      }
    }
  }
  &__pagination {
    justify-content: flex-end;
    @include r(768) {
      margin-top: 30px;
      justify-content: center;
    }
  }
}


//product
.product {
  margin-top: 90px;
  margin-bottom: 65px;
  &__img {
    margin-bottom: 75px;
    border-left: 17px solid $orange;
    @include r(576) {
      border: none;
      }
  }
  &__double {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    @include r(768) {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 500;
    }
    img {
      margin-bottom: 18px;
      border-left: 11px solid $orange;
      @include r(576) {
        border: none;
      }
    }
    span {
      display: block;
      font-weight: 700;
      color: $orange;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
    @include r(576) {
      font-size: 20px;
    }
  }
  &__heading {
    display: none;
    &_desktop {
      @include rmin(768) {
        display: block;
      }
    }
    &_mobile {
      @include r(768) {
        display: block;
      }
    }
  }
  &__article {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    color: $orange;
    @include r(576) {
      font-size: 20px;
    }
  }
  &__caption {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    @include r(576) {
      font-size: 14px;
    }
  }
  &__list {
    margin-bottom: 55px;
  }
  &__property {
    display: flex;
    align-items: flex-start;
    gap: 0 30px;
    @include r(576) {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    p {
      width: 50%;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.8;
      @include r(576) {
      font-size: 14px;
      }
    }
    span {
      font-weight: 300;
      font-size: 18px;
      @include r(576) {
        font-size: 12px;
      }
    }
  }
  &__btn {
    width: 290px;
    height: 45px;
    @include r(768) {
      margin: 0 auto;
    }
  }
}

.auto-list {
  margin-bottom: 65px;
  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
  }
  &__line {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin-bottom: 5px;
    grid-gap: 20px;
    min-width: 1024px;
    overflow: auto;
    @include r(576) {
      min-width: 800px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    font-size: 18px;
    font-weight: 500;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include r(576) {
      font-size: 14px;
    }
    &_head {
      background-color: #f5f5f5;
    }
  }
}

.content {
  p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    @include r(576) {
      font-size: 16px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  b {
    font-weight: 700;
  }
  &__bdr {
    padding-left: 28px;
    border-left: 17px solid $orange;
    font-size: 24px;
    @include r(768) {
      padding-left: 0;
      font-size: 18px;
      border-left: none;
    }
  }
}
.hero-inner {
  margin-bottom: 106px;
  @include r(768) {
    margin-bottom: 40px;
  }
}
.about-content {
  margin-bottom: 30px;
  &__hero {
    background-image: url('../img/hero-02.png');
    @include r(768) {
      background-image: url('../img/hero-02-mobile.png');
    }
    h1 {
      @include r(576) {
        margin: 0 auto 30px;
        max-width: 60%;
      }
    }
  }

  &__brand {
    margin-bottom: 33px;
  }
  &__brand-logo {
    display: block;
    margin: 0 auto;
    @include r(576) {
      max-width: 215px;
      margin-bottom: 35px;
    }
  }
}

.inner-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  margin: 95px 0;
  @include r(768) {
    flex-direction: column;
    gap: 28px 0;
  }
  &__btn {
    width: 497px;
    max-width: 100%;
    height: 55px;
    @include r(768) {
      width: 261px;
      height: 61px;
      font-size: 18px;
    }
  }
}


.quality {
  &__hero {
    background-image: url('../img/hero-03.png');
    @include r(768) {
      background-image: url('../img/hero-03-mobile.png');
      .btn {
        width: 270px;
      }
    }
  }
  &__title {
    margin-bottom: 55px;
    line-height: 1.2;
  }
  p {
    font-size: 22px;
    @include r(768) {
      font-size: 16px;
      padding: 0 15px;
    }
  }
  .content__bdr {
    margin-bottom: 125px;
  }
  .service__description {
    font-size: 24px;
    @include r(768) {
      font-size: 18px;
    }
  }
}


.warranty {
  &__hero {
    background-image: url('../img/hero-04.png');
    @include r(768) {
      background-image: url('../img/hero-04-mobile.png');
      .btn {
        width: 270px;
      }
    }
  }
  p {
    font-size: 22px;
    @include r(768) {
      font-size: 16px;
    }
  }
  .service__description {
    font-size: 24px;
    @include r(768) {
      font-size: 18px;
    }
  }
  &__group {
    margin-bottom: 66px;
  }
}

.aerosol-hero {
  position: relative;
  padding-top: 36px;
  background-image: url('../img/aerosol-hero-bg.png');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(0, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  }
  @include r(768) {
    background-image: url('../img/aerosol-hero-bg-mobile.png');
    -webkit-background-size: contain;
    background-size: contain;
  }
  &__title {
    margin-bottom: 56px;
    text-align: center;
    @include r(768) {
      margin-bottom: 90px;
      font-size: 26px;
    }
    @include r(480) {
      font-size: 18px;
    }
  }
  &__nav-btn {
    top: 80%;
    opacity: 1;
    @include r(768) {
      top: 90%;
    }
    svg {
      stroke: #fff;
    }
  }
  .slider-navigation__btn_next {
    right: 0;
  }
  .slider-navigation__btn_prev {
    left: 0;
  }

}

.aerosol-product {
    display: flex;
    align-items: center;
  &__item {
    position: relative;
    text-align: center;
    //@include r(576) {
    //  flex: 0 0 50%;
    //}
    //&_one,
    //&_eight {
    //  font-size: 10px;
    //
    //}
    //&_two,
    //&_seven {
    //  font-size: 14px;
    //
    //}
    //&_three,
    //&_six {
    //  font-size: 18px;
    //}
    //&_four,
    //&_five {
    //  font-size: 20px;
    //
    //}
    &.swiper-slide-active {
      * {
        opacity: 1;
      }
    }
    img {
      display: block;
      width: 35%;
      margin: 0 auto;
    }

  }
  &__caption {
    margin-bottom: 16px;
    color: #fff;
    opacity: 0.5;

    transition: opacity $trns;
    @include r(1024) {
      font-size: 16px;
      opacity: 1;
      max-width: 150px;
      min-height: 40px;
      margin: 0 auto 16px;
    }
    @include r(576) {
      min-height: 60px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: $orange;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    width: 107px;
    height: 30px;
    opacity: 0;
    transition: opacity $trns;
    @include r(1024) {
      opacity: 1;
      font-size: 10px;
    }
    &:hover {
      color: #fff;
    }
  }
}

.aerosol-content {
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  @include r(576) {
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 50px;
  }
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  b {
    font-weight: 700;
  }
  i {
    font-style: italic;
  }
  img {
    display: block;
    margin: 0 auto;
    @include r(576) {
      margin-bottom: 40px;
    }
  }
}

.aerosol-card {
  padding: 90px 0 120px;
  &__img {
    display: block;
    margin: 0 auto 62px;
    @include r(576) {
      margin-bottom: 26px;
    }
  }
  &__btn {
    width: 201px;
    height: 45px;
    margin: 0 auto 50px;
  }
  &__title {
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 700;
  }
  &__article {
    color:$orange;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__group {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    &_warning {
      padding: 19px 16px;
      border-radius: 10px;
      border: 2px solid $orange;
    }
  }
  p:not(.aerosol-card__article) {
    font-size: 18px;
    margin-bottom: 20px;
    @include r(576) {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts {
  margin-top: 90px;
  margin-bottom: 130px;
  text-align: center;
  &__logo {
    display: block;
    margin: 0 auto 40px;
  }
  &__description {
    margin-bottom: 36px;
    line-height: 34px;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    @include r(768) {
      font-size: 18px;
    }
  }
  &__site {
    display: block;
    margin-bottom: 36px;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 300;
    @include r(768) {
      font-size: 18px;
    }
  }
  &__phone  {
    display: block;
    font-size: 24px;
    font-weight: 700;
    @include r(768) {
      font-size: 18px;
    }
  }
}

.map {
  margin-bottom: 80px;
  z-index: 200;
}

.news-page {
  &__title {
    margin-top: 80px;
    margin-bottom: 80px;
    @include r(480) {
      font-size: 22px;
    }
  }
  &__caption {
    margin-bottom: 27px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    @include r(1024) {
      font-size: 18px;
    }
  }
  &__description {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 300;
    @include r(1024) {
      font-size: 18px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__date {
    font-size: 20px;
    font-weight: 300;
    @include r(1024) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__img {
    display: block;
    margin-bottom: 20px;
    @include r(1024) {
      margin: 0 auto 10px;
    }
  }
}
