<section class="advantages">
  <div class="container">
    <div class="row">
      <div class="col-md-3 advantages__item">
        <svg width="99" height="113" class="advantages__icon">
          <use xlink:href="assets/img/sprite.svg#icon-adv-01"></use>
        </svg>
        <p class="advantages__caption">Надежность
          и долговечность</p>
        <p class="advantages__description">Рассчитаны на длительный срок службы деталей</p>
      </div>
      <div class="col-md-3 advantages__item">
        <svg width="85" height="113" class="advantages__icon">
          <use xlink:href="assets/img/sprite.svg#icon-adv-02"></use>
        </svg>
        <p class="advantages__caption">Оригинальное
          соответсвие</p>
        <p class="advantages__description">Полное соответствие
          ОЕМ-спецификациям</p>
      </div>
      <div class="col-md-3 advantages__item">
        <svg width="123" height="113" class="advantages__icon">
          <use xlink:href="assets/img/sprite.svg#icon-adv-03"></use>
        </svg>
        <p class="advantages__caption">Максимальная
          безопасность</p>
        <p class="advantages__description">Гарантия безопасного вождение и эксплуатации</p>
      </div>
      <div class="col-md-3 advantages__item">
        <svg width="81" height="113" class="advantages__icon">
          <use xlink:href="assets/img/sprite.svg#icon-adv-04"></use>
        </svg>
        <p class="advantages__caption">Абсолютная
          эффективность</p>
        <p class="advantages__description">Доказательства своей выгодности для клиента</p>
      </div>
    </div>
  </div>
</section>
