 <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Уровень два</a></li>
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Уровень три</a></li>
          <li class="breadcrumbs__item"><span class="breadcrumbs__link breadcrumbs__link_active">Аткивная страница</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
