<div class="section news-slider category-slider">
  <div class="container">
    <div class="row">
      <div class="col-10 col-lg-12 offset-1 offset-lg-0">
        <h2 class="title-h2 news-slider__title mobile-hidden">Товарные группы</h2>
        <h2 class="title-h2 news-slider__title desktop-hidden">На сегодняшний день
          в ассортименте продукции более 2 000 артикулов
          в 2 товарных группах</h2>
        <div class="swiper js-category-slider news-slider__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-01.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Рулевые
                наконечники</p>
              <a href="category.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-02.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Шаровые
                опоры</p>
              <a href="category.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-03.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Рычаги
                подвески</p>
              <a href="category.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-04.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Тяги
                стабилизатора</p>
              <a href="category.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-01.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Опоры амортизатора</p>
              <a href="category.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-02.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Сайлентблоки</p>
              <a href="category.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-03.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Рулевые тяги</p>
              <a href="category.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/cts-04.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Опоры двигателя</p>
              <a href="category.html" class="lnk"></a>
            </div>
          </div>
        </div>
        <div class="news-slider__nav-btn swiper-button-prev-cat slider-navigation__btn slider-navigation__btn_prev">
          <svg width="50" height="28">
            <use xlink:href="assets/img/sprite.svg#slider-arrow-left"></use>
          </svg>
        </div>
        <div class="news-slider__nav-btn swiper-button-next-cat slider-navigation__btn slider-navigation__btn_next">
          <svg width="50" height="28">
            <use xlink:href="assets/img/sprite.svg#slider-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
