<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="home.html" class="logo footer__logo">
          <svg width="252" height="64">
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
          <img src="assets/img/svg/logo-white.svg" alt="">
        </a>
        <nav class="footer-nav footer__nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item"><a href="" class="footer-nav__link">О бренде</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Автозапчасти</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Автохимия</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Качество</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Где купить</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Контакты</a></li>
          </ul>
        </nav>
        <a href="" class="footer__link">Юридическая информация</a>
        <p class="footer__copy">&copy; 2023</p>
      </div>
    </div>
  </div>
</footer>





