<section class="form-partners">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="" class="form form-partners__form">
          <h2 class="form-partners__title">Хотите стать партнером бренда Schatz?</h2>
          <p class="form-partners__subtitle">Отправьте ваше сообщение, укажите контактную информацию <br> и мы обязательно свяжемся с вами.</p>
          <label class="form__label" for="name">
            <input type="text" id="name" name="name" placeholder="Ваше имя" class="form__input">
          </label>
          <label class="form__label" for="phone">
            <input type="tel" id="phone" name="phone" placeholder="Телефон" class="form__input">
          </label>
          <label class="form__label form__label_email" for="email">
            <input type="email" id="email" email="name" placeholder="Email" class="form__input">
          </label>
          <label class="form__label form__label_text" for="message">
            <textarea name="message" id="message" rows="3" placeholder="Ваше сообщение"
                      class="form__textarea"></textarea>
          </label>
          <button class="btn-reset btn form__submit form-partners__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
