<div class="section news-slider">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 news-slider__title">Следите за нашими новостями</h2>
        <div class="swiper js-news-slider news-slider__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-02.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Новые поступления деталей трансмиссии</p>
              <a href="news.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-03.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Открылся магазин нового дилера продукции</p>
              <a href="news.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-04.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Новые поступления деталей трансмиссии</p>
              <a href="news.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-01.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Открылся магазин нового дилера продукции</p>
              <a href="news.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-02.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Новые поступления деталей трансмиссии</p>
              <a href="news.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-03.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Открылся магазин нового дилера продукции</p>
              <a href="news.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-04.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Новые поступления деталей трансмиссии</p>
              <a href="news.html" class="lnk"></a>
            </div>
            <div class="swiper-slide news__slider__item">
              <img src="assets/img/n-01.jpg" alt="" class="news-slider__img">
              <p class="news-slider__caption">Открылся магазин нового дилера продукции</p>
              <a href="news.html" class="lnk"></a>
            </div>
          </div>
        </div>
        <div class="news-slider__nav-btn swiper-button-prev-news slider-navigation__btn slider-navigation__btn_prev">
          <svg width="50" height="28">
            <use xlink:href="assets/img/sprite.svg#slider-arrow-left"></use>
          </svg>
        </div>
        <div class="news-slider__nav-btn swiper-button-next-news slider-navigation__btn slider-navigation__btn_next">
          <svg width="50" height="28">
            <use xlink:href="assets/img/sprite.svg#slider-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
