<div class="search">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="" class="search__form">
          <div class="search__group">
            <input class="search__input" type="text" name="article" id="article"
                   placeholder="OEM, артикул Schatz, аналог...">
            <p class="search__caption">Поиск по номеру детали</p>
          </div>
          <div class="search__group search__group_right">
          <select class="search__select" name="mark" id="mark">
            <option value="mark" selected>Марка</option>
            <option value="value1">value1</option>
            <option value="value2">value2</option>
            <option value="value3">value3</option>
            <option value="value4">value4</option>
            <option value="value5">value5</option>
            <option value="value6">value6</option>
          </select>
          <select class="search__select" name="model" id="model" disabled>
            <option value="model" selected>Модель</option>
            <option value="value1">value1</option>
            <option value="value2">value2</option>
            <option value="value3">value3</option>
            <option value="value4">value4</option>
            <option value="value5">value5</option>
            <option value="value6">value6</option>
          </select>
          <select class="search__select" name="year" id="year" disabled>
            <option value="year" selected>Год</option>
            <option value="value1">value1</option>
            <option value="value2">value2</option>
            <option value="value3">value3</option>
            <option value="value4">value4</option>
            <option value="value5">value5</option>
            <option value="value6">value6</option>
          </select>
          <select class="search__select" name="carcase" id="carcase" disabled>
            <option value="carcase" selected>Кузов</option>
            <option value="value1">value1</option>
            <option value="value2">value2</option>
            <option value="value3">value3</option>
            <option value="value4">value4</option>
            <option value="value5">value5</option>
            <option value="value6">value6</option>
          </select>
          <select class="search__select" name="product-group" id="product-group" disabled>
            <option value="product-group" selected>Товарная группа</option>
            <option value="value1">value1</option>
            <option value="value2">value2</option>
            <option value="value3">value3</option>
            <option value="value4">value4</option>
            <option value="value5">value5</option>
            <option value="value6">value6</option>
          </select>
            <p class="search__caption search__caption_right">Поиск по характеристикам автомобиля</p>
            <button class="btn btn-reset search__btn">Поиск</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
