.footer {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: #d9d9d9;
  background-image: url('../img/svg/footer-bg.svg');
  background-repeat: no-repeat;
  background-position: right 25px;
  &__logo {
    display: block;
    margin-bottom: 20px;
    img {
      display: none;
    }
  }
  &__link {
    display: block;
    margin-bottom: 30px;
    margin-left: 65px;
    font-weight: 500;
     @include r(1024) {
      font-size: 18px;
    }
  }
  &__copy {
    display: block;
    margin-left: 65px;
    font-weight: 500;
     @include r(1024) {
      font-size: 18px;
    }
  }
}

.footer-nav {
  margin-bottom: 30px;
  margin-left: 65px;
  &__item {
    position: relative;
    display: block;
    width: max-content;
    font-weight: 500;
    line-height: 32px;
    @include r(1024) {
      font-size: 18px;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $orange;
      transition: width $trns;
    }
    &.is-active::before,
    &:hover::before {
      width: 100%;
    }
  }
}


.is-aerosol-category-page,
.is-aerosol-card-page {
  .footer {
    background-color: #000;
    background-image: url('../img/footer-bg-2.png');
    @include r(576) {
      background-image: url('../img/footer-bg-2-mobile.png');
      background-size: cover;
    }
  }
  .footer-nav__item,
  .footer__copy,
  .footer__link {
    color: #fff;
  }
  .footer__logo svg {
    display: none;
  }
  .footer__logo img {
    display: block;
  }
}
